<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=viewport-width">
    <title>Ride Share | Patron Sign-up</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <header>
      <h1>Patron Sign-up</h1>
    </header>

    <section id="patron-data">
      <div class="container">
          <form class="" action="" method="post">
            <input type="text" value="name">
            <input type="text" value="age">
            <input type="text" value="sex">
            <input type="text" value="city">
          </form>
      </div>
    </section>
  </body>
</html>
